body {
  background-color: #282c34;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  max-width: 70%;
}

.navbar {
  color: white;
  background-color: #1C1854 ;
  text-align: center;
}

.projects {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects img {
  height: auto;
  margin-bottom: 20px;
  border-radius: 5px;
}

.project {
  border: 1px solid #1C1854;
  border-radius: 10px;
  background-color: #f9f9f900;
  padding: 20px;
  margin: 10px;
  width: 300px;
}

.skills-group img {
  max-width: 40px; /* Set max-width for all images in Skills component */
  height: auto; /* Maintain aspect ratio */
}

.skills-group {
  border: 1px solid #ddd; /* Add a border to delineate the group */
  border-radius: 10px; /* Rounded corners */
  background-color: #f9f9f9; /* Light background color */
  padding: 20px; /* Add padding inside the group */
  margin-bottom: 20px; /* Add margin between groups */
}

.skill-title {
  text-align: center; /* Center align the title */
  padding-bottom: 5px;
}

.skill-title {
  padding-bottom: 15px;
}